git+https://github.com/facebookresearch/segment-anything.git
torch
torchvision
opencv-python
supervision
flask-cors
pandas
pillow
requests
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
black
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability